* {
  box-sizing: border-box;

}
.container{
  width: 550px;
  margin: auto;
}
body {
  margin: 0;
}

.nav {
  background: rgba(33, 34, 42, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  height: 91px;
  
}
.p_nav{
  color: white;
  font-family: iner;
  font-weight: 600px;
  font-size: 16px;
}
.title{
  color: rgba(0, 216, 255, 1);
  margin-left: 10px;
  font-size: 22.25px;
  font-weight: 800px;
  font-family: inter;
 
}
.pic{
  display: flex;
  width: 158px;
  margin-left: 26px;
  align-items: center
  
}
img{
  height: 24.5px;
}